<li id="comment-<%= comment._id %>">
    <p>
        <% if (locals.user && locals.user.id == comment.user.id){ %>
        
        <small>
            <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
        </small>
        <% } %>
        <div class="user-name">
            <%= comment.user.name %>
        </div>
        <div class="comment-content">
           <%= comment.content %>
       
        
                <% if (locals.user){ %>
                  <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                            <%= comment.likes.length %>  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </a>
                <% }else{ %>
                    <%= comment.likes.length %>  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <% } %>
        </div>        
            
</li>
</p>
